.column{
  width: 450px;
  float: left;
  margin:12px;
}

.column img{
  height: 300px;
  width: 300px;
}
.link h2 a {
  font-style: italic;
  border: 2px dotted #009098;
}

body {
  background-color: gray;
}
